[tool.poetry]
name = "pssr"
version = "1.0.1"
description = "Point-Scanning Super-Resolution"
authors = ["Hayden Stites"]
readme = "README.md"
license = "MIT"
repository = "https://github.com/haydenstites/PSSR"
documentation = "https://haydenstites.github.io/PSSR/"
classifiers = [
    "Programming Language :: Python :: 3",
    "License :: OSI Approved :: MIT License",
    "Development Status :: 5 - Production/Stable",
    "Operating System :: OS Independent",
    "Intended Audience :: Science/Research",
    "Environment :: GPU :: NVIDIA CUDA",
    "Topic :: Scientific/Engineering :: Artificial Intelligence",
    "Topic :: Scientific/Engineering :: Image Processing",
    "Topic :: Documentation :: Sphinx",
]

[tool.poetry.dependencies]
python = "^3.11"
torch = "^2.0.0"
numpy = "^1.26.4"
pillow = "^10.2.0"
czifile = "^2019.7.2"
opencv-python = "^4.9.0.80"
scikit-image = "^0.23.1"
scikit-optimize = "^0.9.0"
tqdm = "^4.66.2"
pytorch-msssim = "^1.0.0"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
